@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  background-color: #030712;
  color: white;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
.content {
  max-width: 1200px;
  margin: 0 auto;
}
.nav {
  background-color: rgba(17, 27, 48, 0.445);
  backdrop-filter: blur(10px);
  padding: 10px;
  border-bottom: 1px solid #00a7f559;
}
.navbar {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logotip {
  margin: 0;
}
#time {
  color: #00a7f5;
}
.avatar {
  width: 40px;
  border-radius: 90px;
  cursor: pointer;
}
.hisob {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bank {
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 20px;
  width: 100%;
  height: 500px;
}
.bank_times {
  width: 55%;
  background-color: #181d2b;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px 10px;
}
.bank_work {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  height: 100%;
}
.moneys {
  background: linear-gradient(
    338deg,
   rgba(9, 255, 0, 0.185) 0%,
    #00a7f51c 100%
  );
  height: 50%;
  border-radius: 10px;
  backdrop-filter: blur(90px);
  padding: 20px;

}
.out_money {
  height: 50%;
  background: linear-gradient(
    338deg,
   rgba(255, 0, 0, 0.185) 0%,
    #00a7f51c 100%
  );
  backdrop-filter: blur(90px);
  border-radius: 10px;
  padding: 20px;
}

.transforInp {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 7px;
}
.submitBtn {
  background-color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
}
.money_input {
  background-color: rgba(255, 255, 255, 0.836);
  border: none;
  border-radius: 5px;
  padding: 5px;
  outline: none;
}

.felter {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.search_input {
  width: 100%;
  padding: 7px;
  outline: none;
  border-radius: 7px;
  border: 1px solid #00a7f536;
  background-color: rgba(30, 49, 90, 0.445);
  transition: 0.4s ease;
  color: white;
}
.search_input::placeholder {
  color: #00a7f5;
}
.search_input:focus {
  border: 1px solid #00a7f5;
}
.filterBtn {
  padding: 0 15px;
  border-radius: 7px;
  border: 1px solid #00a7f536;
  background-color: rgba(30, 49, 90, 0.445);
  cursor: pointer;

  i {
    font-size: 22px;
    color: #00a7f5;
  }
}
.history {
  border-radius: 10px;
  margin-top: 10px;
  width: 100%;
  background: #121622;
  height: 500px;
  overflow-y: auto;
  padding: 40px 0 0 0;
  position: relative;
  border: 1px solid #00a7f560;
}
.history::-webkit-scrollbar {
  display: none;
}
.title {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #00a7f5;
  position: fixed;
  /* display: none; */
  top: 197px;
  width: 598px;
  border-radius: 10px 10px 0 0;
}
.tarix {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px 5px 15px;
  border-bottom: 1px solid #00a7f559;
  font-size: 15px;
}
h3 {
  font-size: 12px;
  font-weight: 300;
}
#set {
  color: rgb(0, 255, 0);
  font-size: 20px;
  font-weight: 100;
}
#buy {
  color: rgb(253, 0, 0);
  font-size: 20px;
  font-weight: 100;
}

.balance_work {
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
}
.balans_money {
  display: flex;
  justify-content: center;
  gap: 30px;
}
li {
  list-style: none;
  font-size: 13px;
}
.left {
  display: flex;
  flex-direction: column;
}
.submitBtn {
  cursor: pointer;
}
#amounte{
  color: rgb(0, 255, 0);
}
.titleMoney{
  font-size: 20px;
  margin: 0 0 20px 0;
}













/* Avatar bosilganda chiqadigan modal */
.card {
  position: absolute;
  top: 65px;
  right: 70px;
  width: 180px;
  background-color: rgba(36, 40, 50, 1);
  background-image: linear-gradient(
    139deg,
    #0a101f 0%,
    #0a101f 0%,
    #0a101f 100%
  );
border:  1px solid  #00a7f528;
  border-radius: 10px;
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 100;
  box-shadow: -1px 1px 16px -2px rgba(0, 0, 0, 0.575);
}

.card .separator {
  border-top: 1.5px solid #42434a;
}

.card .list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0px 10px;
  margin: 0;
}

.card .list .element {
  display: flex;
  align-items: center;
  color: #7e8590;
  gap: 10px;
  transition: all 0.3s ease-out;
  padding: 4px 7px;
  border-radius: 6px;
  cursor: pointer;
}

.card .list .element svg {
  width: 19px;
  height: 19px;
  transition: all 0.3s ease-out;
}

.card .list .element .label {
  font-weight: 600;
  margin: 0;
}

.card .list .element:hover {
  background-color: #00a7f55b;
  color: #ffffff;
  transform: translate(1px, -1px);
}
.card .list .delete:hover {
  background-color: #8e2a2a65;
}

.card .list .element:active {
  transform: scale(0.99);
}

.card .list:not(:last-child) .element:hover svg {
  stroke: #ffffff;
}

.card .list:last-child .element {
  color: #00a7f5a6;
}

.card .list:last-child .element:hover {
  background-color: rgba(255, 0, 0, 0.212);
  color: red;
}
.logingOut {
  font-size: 20px;
}


.hidden{
  display: none;
}
  #kirdi{
color: rgb(0, 255, 0);
  }
  #chiqdi{
    color: rgb(255, 0, 0);
      }