@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  background-color: #030712;
  color: white;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
.content {
  max-width: 1200px;
  margin: 0 auto;
}
.nav {
  background-color: rgba(17, 27, 48, 0.445);
  backdrop-filter: blur(10px);
  padding: 10px;
  border-bottom: 1px solid #00a7f559;
}
.navbar {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logotip {
  margin: 0;
}
.ri-corner-down-left-fill,
.ri-corner-down-right-fill {
  margin-left: 30px;
}
#currentTime {
  color: #00a7f5;
}
.avatar {
  width: 40px;
  border-radius: 90px;
  cursor: pointer;
  border: 2px solid #00a7f5;
  padding: 2px;
  transition: all ease 0.4;
}

#balance {
  color: rgb(0, 255, 0);
}
.hisob {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bank {
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 20px;
  /* width: 100%; */
  height: 500px;
}

@media (max-width: 600px) {
  .bank {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    gap: 10px;
  }
  .out_money {
    display: none;
  }
.logotip{
  font-size: 27px;
}
  .content {
    margin: 0 10px;
  }
  .time {
    display: none;
  }
  .bank_times {
    height: 500px;
  }
  .bank_work {
    width: 100%;
  }
  .btns {
    display: flex;
    gap: 10px;
    margin-top: 4px;
  }
  .transforInp {
    flex-direction: column;
  }
  .current_balances {
    display: none;
  }
  tr{
    font-size: 16px;
  }
  .balance_work{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .balans_money{
    text-align: center;
    display: flex;
    justify-content: center;
    align-self: center;
  }
}

.btns {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.bank_times {
  /* width: 65%; */
  background-color: #181d2b;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px 10px;
}
.bank_work {
  /* width: 95%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  height: 100%;
}
.moneys {
  background: linear-gradient(
    338deg,
    rgba(0, 27, 58, 0.185) 0%,
    #00a7f53f 100%
  );
  height: 50%;
  border-radius: 10px;
  backdrop-filter: blur(90px);
  padding: 20px;
}
.btnTxt{
  margin: 0;
}
.out_money {
  height: 50%;
  background: linear-gradient(
    338deg,
    rgba(0, 27, 58, 0.062) 0%,
    #00a7f525 100%
  );
  backdrop-filter: blur(90px);
  border-radius: 10px;
  padding: 20px;
  overflow: auto;
  /* overflow: hidden; */
}
.out_money::-webkit-scrollbar {
  display: none;
}
#users {
  padding: 15px 20px 15px 10px;
  border-left: 3px solid #00a7f5;
  border-radius: 10px;
  background-color: #00395336;
}
.malumot {
  padding: 0 0 10px 0;
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.transforInp {
  display: flex;
  /* justify-content: start; */
  /* align-items: center; */
  gap: 7px;
}
.submitBtn {
  background-color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  gap: 4px;
}
.money_input {
  background-color: #1a2640;
  border: none;
  border-radius: 5px;
  padding: 5px;
  outline: none;
  color: #00a7f5;
  border: 1px solid #00a7f57c;
  transition: 0.4s ease;
}
.money_input:focus {
  border: 1px solid #00a7f5;
}
.money_input::placeholder {
  color: #00a7f5;
}
.felter {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.search_input {
  width: 100%;
  padding: 7px;
  outline: none;
  border-radius: 7px;
  border: 1px solid #00a7f536;
  background-color: rgba(30, 49, 90, 0.445);
  transition: 0.4s ease;
  color: white;
}
.search_input::placeholder {
  color: #00a7f5;
}
.search_input:focus {
  border: 1px solid #00a7f5;
}
#ownerName {
  font-size: 20px;
}
.table-container {
  width: 100%;
  overflow: auto;
  position: relative;
  border-radius: 7px 7px 10px 10px;
  margin: 20px 0;
  border: 1px solid #00a7f54f;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  position: sticky;
  top: 0;
  background-color: #00a7f5;
  z-index: 10;
  box-shadow: -1px 19px 17px 2px #11151f88;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #00a7f534;
  font-size: 14px;
}

th {
  background-color: #00a7f5;
  font-weight: bold;
}

tbody {
  display: block;
  overflow-y: auto;
  max-height: 388px;
}
tbody::-webkit-scrollbar {
  display: none;
}

tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

/* Optional: Add hover effect */
tbody tr:hover {
  background-color: #00a7f51e;
}
h3 {
  font-size: 12px;
  font-weight: 300;
}
#set {
  color: rgb(0, 255, 0);
  font-size: 20px;
  font-weight: 100;
}
#buy {
  color: rgb(253, 0, 0);
  font-size: 20px;
  font-weight: 100;
}

.balance_work {
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  background-color: #030712;
}
.balans_money {
  display: flex;
  justify-content: center;
  gap: 30px;
}
li {
  list-style: none;
  font-size: 13px;
}
.left {
  display: flex;
  flex-direction: column;
}

#amounte {
  color: rgb(0, 255, 0);
}
.titleMoney {
  font-size: 20px;
  margin: 0 0 20px 0;
}
/* Dropdown */

/* Dropdown konteyneri */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Tugma */
.dropdown button {
  padding: 7px 20px;
  border: 1px solid #00a7f536;
  background-color: #1a2640;
  color: #00a7f5;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s ease;
  overflow: hidden;
}

/* Menyu */
.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 86px;
  border: 1px solid #00a7f5;
  background-color: #1a2640;
  display: none;
  z-index: 999;
  border-radius: 6px;
  font-size: 12px;
  overflow: hidden;
  margin-top: 2px;
  overflow: visible;
  box-shadow: 0 2px 8px #003953;
}

/* Hoverda menyuni ochish */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown button:hover {
  cursor: pointer;
  border: 1px solid #00a7f581;
}

/* Menyu itemlar */
.dropdown-content div {
  border-bottom: 1px solid #00a7f53a;
  padding: 10px 15px;
  cursor: pointer;
}

.dropdown-content div:hover {
  background-color: #00a7f546;
}

/* Avatar bosilganda chiqadigan modal */
.card {
  position: absolute;
  top: 65px;
  right: 70px;
  width: 180px;
  background-color: rgba(36, 40, 50, 1);
  background-image: linear-gradient(
    139deg,
    #0a101f 0%,
    #0a101f 0%,
    #0a101f 100%
  );
  border: 1px solid #00a7f528;
  border-radius: 10px;
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 100;
  box-shadow: -1px 1px 16px -2px rgba(0, 0, 0, 0.575);
}

.card .separator {
  border-top: 1.5px solid #42434a;
}

.card .list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0px 10px;
  margin: 0;
}

.card .list .element {
  display: flex;
  align-items: center;
  color: #7e8590;
  gap: 10px;
  transition: all 0.3s ease-out;
  padding: 4px 7px;
  border-radius: 6px;
  cursor: pointer;
}

.card .list .element svg {
  width: 19px;
  height: 19px;
  transition: all 0.3s ease-out;
}

.card .list .element .label {
  font-weight: 600;
  margin: 0;
}

.card .list .element:hover {
  background-color: #00a7f55b;
  color: #ffffff;
  transform: translate(1px, -1px);
}
.card .list .delete:hover {
  background-color: #8e2a2a65;
}

.card .list .element:active {
  transform: scale(0.99);
}

.card .list:not(:last-child) .element:hover svg {
  stroke: #ffffff;
}

.card .list:last-child .element {
  color: #00a7f5a6;
}

.card .list:last-child .element:hover {
  background-color: rgba(255, 0, 0, 0.212);
  color: red;
}
.logingOut {
  font-size: 20px;
}

.hidden {
  display: none;
}
#depositTotal {
  color: rgb(0, 255, 0);
}
#spendTotal {
  color: rgb(255, 0, 0);
}
